[Unit]
Description=Gunicorn instance to RegulonLabs API
After=network.target

[Service]
User=runner
Group=runner
WorkingDirectory=/home/runner/web/api
ExecStart=/home/runner/web/api/env/bin/gunicorn -c /home/runner/web/api/gunicorn.conf.py app:app

# Optional hardening and stability
Restart=always
RestartSec=3
Environment="PATH=/home/runner/web/api/env/bin"
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target